apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-kerkdvyd
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-kerkdvyd:1ae8c4dbd3db07bf99057b4369d29c7385171100@sha256:a77a57b6ca9e4cbe296d47e9f1d1379d284d256b7b459b8b074fcb4a619b636a
          name: container-image
